# Binaries
devops-reporter
devops-reporter.exe

# Non-defaults
templates/**/*.template.html
tests/**/*.report.html

# Go
*.test
*.out
vendor/

# Node / Docusaurus
node_modules/
build/
.docusaurus/
.cache-loader/
